<form method="post" action="/">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Precio</label>
        <input type="text" class="form-control" name="price" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Thumbnail</label>
        <input type="text" class="form-control" name="thumbnail" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>

<a href="/productos"><button>Ver los productos</button></a>