<h1>Listado Productos</h1>

<%if (productos.length > 0) { %>
<table class="table">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Thumbnail</th>
        </tr>
    </thead>
    <tbody>
        <% productos.forEach(function(producto) { %>
        <tr>
        <td scope="row"><%= producto.id %></td>
        <td scope="row"><%= producto.title %></td>
        <td scope="row"><%= producto.price %></td>
        <td scope="row"><img src= "<%= producto.thumbnail %>"></td>
        </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <h1>No se encontraron productos</h1>
<% } %>

<a href="/"><button>Volver al formulario de carga</button></a>